# Remova esta linha antes de fazer qualquer outra coisa
_____REMOVE_____THIS_____LINE_____=true




# ---------------「 OBRIGATÓRIO 」--------------- #


# Obtenha-os de https://my.telegram.org/
API_ID=""
API_HASH=""


# Mongodb url de https://cloud.mongodb.com/
# Tutorial: https://fnixdev.gitbook.io/kannax/variaveis-necessarias-para-kannax/vars_obrigatorias/database
DATABASE_URL=""


# [ ID do Canal de Log do privado ]
# Nota: Adicione também o seu bot a LOG CHANNEL (para BOT ou DUAL)
LOG_CHANNEL_ID=""


# ════════════「 Modos do KannaX 」════════════ #

# Preencha Vars para o modo que você deseja [ USER ], [ BOT ] 
# ou [ DUAL MODE ] (Ambos)


# 1. USER MODE
# pegue isso usando
# [ https://replit.com/@fnixdev/StringSessionKX ou bash genStr ]
HU_STRING_SESSION=""


# 2. BOT MODE
# pegue isso de https://t.me/botfather e ative o Inline Mode
BOT_TOKEN=""
OWNER_ID=""  # seu user_id


# 3. DUAL MODE
# Ambas as sessões BOT e USER são necessárias para o MODO DUAL




# ---------------「 OPCIONAL 」--------------- #


# Defina false se você não gosta de usar plug-ins extras
LOAD_UNOFFICIAL_PLUGINS=true

# É melhor se você quiser adicionar seus próprios plug-ins
# privado / público ambos os repositórios são suportados
# Faça fork da pagina https://github.com/fnixdev/KannaX-Plugins e adicione seus plugins
CUSTOM_PLUGINS_REPO=false


# Contagem de trabalhadores do Userbot : Default = cpu_count + 4
WORKERS=""


# Googel Drive API Keys de https://console.developers.google.com/
G_DRIVE_CLIENT_ID=""
G_DRIVE_CLIENT_SECRET=""


# # Defina como true se for TeamDrive
G_DRIVE_IS_TD=false


# Index link do gdrive
G_DRIVE_INDEX_LINK=""


# Defina o nome para o seu diretório de trabalho
DOWN_PATH="downloads/"


# Seu Idioma ( ex: português => 'pt' )
PREFERRED_LANGUAGE="pt"


# obter chave API de 'https://free.currencyconverterapi.com/'
CURRENCY_API=""


# obter a chave API para o módulo OCR 'http://eepurl.com/bOLOcf'
OCR_SPACE_API_KEY=""


# adicionar cidade padrão para o clima
WEATHER_DEFCITY=""


# SpamWatch API pode ser obtido em @SpamWatch no Telegram
SPAM_WATCH_API=""


# API do tempo pode ser obtida em 'https://openweathermap.org/'
OPEN_WEATHER_MAP=""


# RemoveBg API Key obtê-lo em 'https://www.remove.bg/api'
REMOVE_BG_API_KEY=""


# GDrive ID da pasta
G_DRIVE_PARENT_ID=""


# definir prefixo de comando
CMD_TRIGGER="."


# definir prefixo de comando para usuários SUDO
SUDO_TRIGGER="!"


# defina isso para seu fork KannaX no GitHub
UPSTREAM_REPO=""


# único caractere para o progresso concluído
FINISHED_PROGRESS_STR='█'


# caractere único para progresso inacabado
UNFINISHED_PROGRESS_STR='░'


# nome personalizado para o seu pacote de adesivos
CUSTOM_PACK_NAME=""


# defina sua própria mídia personalizada para bot pm
BOT_MEDIA=""


# Para Spotify Music Auto Bio, obtenha seu ID de client e secret do Spotify em
# (https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""


# Nsfw Detect API Key para obtê-lo em https://deepai.org/dashboard/profile 
DEEP_AI=""


# Link de alive personalizado (coloque um link Imgur ou Telegraph aqui)
ALIVE_MEDIA=""


# Para gen_memes.py 
# Pegue de https://imgflip.com/ criando uma conta gratuita
# e não se esqueça de verificar seu endereço de e-mail e copiar o nome de usuário e a senha.
IMGFLIP_ID=""
IMGFLIP_PASS=""


# LastFM username e api key
LASTFM_USERNAME=""
LASTFM_API_KEY=""




# ---------「 Somente se estiver usando Heroku 」--------- #


# obter uma chave de API Heroku de http://dashboard.heroku.com/account
HEROKU_API_KEY=""


# nome de aplicativo dado ao aplicativo heroku
HEROKU_APP_NAME=""
